@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.section1{
    background: rgb(180,140,254);
    background: linear-gradient(90deg, rgba(180,140,254,1) 16%, rgba(140,69,235,1) 40%, rgba(209,124,121,1) 100%);
    width: 100%;
    height: 100vh;
} 