@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}
ul , li {
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

body{
    background-color:hsla(266,79%,60%,1);
background-image:
radial-gradient(at 8% 50%, hsla(262,87%,60%,1) 0px, transparent 50%),
radial-gradient(at 11% 73%, hsla(262,87%,60%,1) 0px, transparent 50%),
radial-gradient(at 5% 11%, hsla(260,95%,76%,1) 0px, transparent 50%),
radial-gradient(at 60% 87%, hsla(269,71%,58%,1) 0px, transparent 50%),
radial-gradient(at 57% 53%, hsla(269,71%,58%,1) 0px, transparent 50%),
radial-gradient(at 55% 21%, hsla(269,71%,58%,1) 0px, transparent 50%),
radial-gradient(at 100% 82%, hsla(330,19%,98%,1) 0px, transparent 50%),
radial-gradient(at 100% 70%, hsla(330,14%,97%,1) 0px, transparent 50%),
radial-gradient(at 100% 53%, hsla(9,100%,50%,1) 0px, transparent 50%),
radial-gradient(at 94% 14%, hsla(9,100%,50%,1) 0px, transparent 50%);
  width: 100%;
  /* height: 800px; */
  background-size: cover;
  background-repeat: no-repeat;
}
/* html{
    height:1000vh ;
} */
header{
    position: relative;
    padding: 0 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.0);
    backdrop-filter: blur(15px);
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display:flex ;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(254,196,52,255);
}
.navbar .links {
    display: flex;
    color: white;
    gap: 2rem;
}
.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: rgba(254,196,52,255);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 2px solid rgba(199,151,175,255);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.519) ;
}
.action_btn:hover{
    scale: 1.05;
    color: white;
}

.container{
    height:700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.container .row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    max-width: 1100px;
}

.container .row .img1 {
    width: 400px;
    height: 400px;
    text-align: center;
    border-radius: 200px 200px 58px 58px;
    -webkit-border-radius: 200px 200px 58px 58px;
    -moz-border-radius: 200px 200px 58px 58px;
    background: linear-gradient(294deg, rgba(123,117,205,1) 15%, rgba(196,196,246,1) 75%);
    border: 19px solid #e9d8f2;
    padding: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.container .row .img1 img {
    width: 500px;
    height: 520px;
    position: absolute;
    top: -91px;
    right: -60px;
}
.container .row .text {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align:start;
    gap: 50px;
    
}

.container .row .text h1{
    color: white;
    font-size: 40px;
}
.container .row .text h1 span {
    color: #ffb80a;
}
.container .row .text p{
    color: #e2bcf9;
    font-size: 20px;
}
.container .row .text .btn-text a{
    margin-left: 30px;
}
.container .row .text .btn-text .play-watch span {
    color: #e2bcf9;
    margin-left: 5px ;
}
.container .row .text .btn-text .play-watch i {
    color: #fec24b;
    background-color: #fcf6f6;
    border-radius: 50%;
    border: 1px solid #b499d0;
    font-size: 16px;
    padding: 15px;
}
.section2{
    background-color:hsla(330,19%,98%,1);
background-image:
radial-gradient(at 82% 14%, hsla(261,55%,84%,1) 0px, transparent 50%),
radial-gradient(at 86% 83%, hsla(261,55%,84%,1) 0px, transparent 50%),
radial-gradient(at 88% 65%, hsla(261,55%,84%,1) 0px, transparent 50%),
radial-gradient(at 79% 38%, hsla(261,55%,84%,1) 0px, transparent 50%),
radial-gradient(at 20% 35%, hsla(330,19%,98%,1) 0px, transparent 50%),
radial-gradient(at 91% 19%, hsla(261,55%,84%,1) 0px, transparent 50%);
width: 100%;
}
.section2 .container1 {
    /* background-color: red; */
    max-width: 1200px;
    height: 700px;
    margin:  auto;
}
.section2 .container1 .row{
    /* background-color: blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.section2 .container1 .row .title {
    display: flex;
    gap: 15px;
    padding: 15px;
}
 .title .icon {
    color: #f3cf63;
    background-color: #a877f5;
    border: 2px solid #f5e3f3;
    font-size: 30px;
    padding: 8px;
    border-radius: 25%;
 }
 .title h1{
    font-size: 40px;
    color: #6e549b;
 }
 .wrapper{
    width: 90%;
    margin: 25px auto;
    height: 270px;
    border: 19px solid #f7e9f9;
    border-radius: 80px;
    box-shadow: 0 15px 5px rgba(4, 2, 2, 0.1);
    background-color:hsla(262,98%,73%,1);
    background-image:
    radial-gradient(at 56% 50%, hsla(262,92%,64%,1) 0px, transparent 50%),
    radial-gradient(at 88% 76%, hsla(262,92%,64%,1) 0px, transparent 50%),
    radial-gradient(at 85% 27%, hsla(262,92%,64%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(262,98%,73%,1) 0px, transparent 50%);
}
 .wrapper .owl-theme {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 15px;
     margin-top: 10px;
    }

 /* .wrapper .owl-nav {
    color: red;
} */

.owl-theme .owl-dots{
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: none;
}
.wrapper .owl-prev,
.wrapper .owl-next {
    position: absolute;
    top: 29%;
    font-size: 2rem !important;
    background-color: #fff !important;
    width: 50px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.363);
    height: 50px;
    font-weight: bold;
    border-radius: 100% !important;
}
.wrapper .owl-prev b,
.wrapper .owl-next b {
    position: relative;
    top: -2px;
}

.wrapper .owl-prev:hover,
.wrapper .owl-next:hover {
    color: #000 !important;
}
.wrapper .owl-next {
    right: -40px;
}
.wrapper .owl-prev {
    left: -40px;
}
/* .owl-carousel.owl-drag .owl-item {
    max-width: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.wrapper .items {
    text-align: center;
    width: 230px;
    /* height: 253px; */
    border-radius: 30px;
    color: white;
    padding: 20px;
}
.wrapper .items .icon i {
    color: #f3cf63;
    background-color: #a877f5;
    border: 2px solid #f5e3f3;
    font-size: 30px;
    padding: 8px;
    border-radius: 25%;
}
.wrapper .items h3 {
    font-size: 24px;
    padding: 10px;
}
.wrapper .items p {
    color: hsl(271, 70%, 79%);
    padding: 10px;
}
.wrapper .items a {
    font-size: 20px;
    display: none;
}
.wrapper .items a i {
    font-size: 14px;
    padding-left: 10px;
}       

.wrapper .owl-item.center .items {
    background-color: red;
    /* z-index: -1; */
    transform: translateY(-53px);
    height: 275px;
    overflow: unset;
    border-radius: 50px 50px 5px 5px;
}
.wrapper .owl-item.center a {
    display: block;
}



























/* dropdown menu  */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255,255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* responsive design */
@media (max-width: 992px) {
    .navbar .links , 
    .navbar .action_btn {
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        right: 0rem;
        width: 100%;
    }
    .container{
        height:800px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .container .row {
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 50px;
    }
    
    .container .row .img1 {
        width: 300px;
        height: 300px;
        order: -1; 
    }
    .container .row .img1 img {
        width: 400px;
        height: 420px;
        position: absolute;
        top: -103px;
        right: -60px;
    }
    .container .row .text {
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        text-align:center;
        gap: 30px;
        
    }
    
    .container .row .text h1{
        color: white;
        font-size: 30px;
    }
}

@media (max-width: 576px){
    .dropdown_menu{
        left: 0rem;
        width: unset;
    }
    .container{
        height:800px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 150px; */
    }
    .container .row {
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 40px;
    }
    
    .container .row .img1 {
        width: 300px;
        height: 300px;
        order: -1; 
    }
    .container .row .img1 img {
        width: 350px;
        height: 420px;
        position: absolute;
        top: -103px;
        right: -45px;
    }
    .container .row .text {
        width: 350px;
        height: 400px;
        gap: 20px;
    }
   
    .container .row .text p{
        font-size: 16px;
    }
    .wrapper{
        width: 80%;
        
    }
    .wrapper .owl-theme {
        display: flex;
        justify-content: center;
        align-items: center;
        /* gap: 20px; */
        /* background-color: red; */
        margin-top: 10px;
       }
    .wrapper .items {
        /* text-align: center; */
        width: 230px;
        margin: 0 auto;
        /* height: 253px; */
        border-radius: 30px;
        color: white;
        /* padding: 20px; */
    }
    .section2 .container1 .row .title {
        display: flex;
        gap: 7px;
        padding: 10px;
        margin-top: 12px;
    }
     .title .icon {
        color: #f3cf63;
        background-color: #a877f5;
        border: 2px solid #f5e3f3;
        font-size: 20px;
        padding: 8px;
        border-radius: 25%;
     }
     .title h1{
        font-size: 30px;
        color: #6e549b;
     }
     .wrapper .owl-prev,
     .wrapper .owl-next {
        position: absolute;
        top: 33%;
    }
    .wrapper .owl-prev{
        left: -40px;
    }
     .wrapper .owl-next {
        right: -40px;
    }

}